<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704644569832-ivqohsgddsnkkusr9fkuetpvscn69amh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704644569832-ivqohsgddsnkkusr9fkuetpvscn69amh</string>
	<key>API_KEY</key>
	<string>AIzaSyCgOuFhdlNseCuTKSBBp9jp8TL10Pjg-nM</string>
	<key>GCM_SENDER_ID</key>
	<string>704644569832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.karan.FirebaseLogin</string>
	<key>PROJECT_ID</key>
	<string>login-48ecd</string>
	<key>STORAGE_BUCKET</key>
	<string>login-48ecd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704644569832:ios:0475837fd97d888239c75d</string>
</dict>
</plist>